@use 'sass:color';
@use '../../mixins/misc' as *;
@use '../../mixins/typo' as *;

.btn {
  @include buttonText();

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  position: relative;
  padding: spacing(1.25) spacing(2.5);
  border-radius: 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition:
    background-color 150ms,
    color 150ms,
    border-color 150ms;

  &.icon {
    padding: 0;
    border-radius: 999px;
    width: var(--size, spacing(4));
    height: var(--size, spacing(4));
  }

  &Inner {
    display: flex;

    .icon & {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px solid $oldYellow;
    outline-offset: 2px;
  }

  &.primary {
    background-color: $oldYellow;
    color: $midGrey;

    &:hover:not(:disabled) {
      background-color: color.adjust($oldYellow, $lightness: 10%);
    }
  }

  &.secondary {
    background-color: transparent;
    color: $midGrey;
    border-color: $lightGrey;

    &:hover:not(:disabled) {
      background-color: rgba($lightGrey, 0.12);
      border-color: $midGrey;
    }
  }
}
