@use '../../mixins/misc' as *;
@use '../../mixins/typo' as *;

:host {
  width: 100%;
}

.pageFooter {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  background: var(--midGrey);
  color: var(--oldYellow);

  &Inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: spacing(2);
    align-items: center;
  }

  .logo {
    @include smallTitle($oldYellow);

    display: flex;
    align-items: center;
    gap: spacing(1);
  }

  .links {
    display: flex;
    justify-self: right;
    gap: spacing(1);
  }
}
