@use '../mixins/misc' as *;
@use '../mixins/mediaQueries' as *;

.page {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: spacing(3);

  position: relative;
  margin-top: calc(var(--headerHeight) + #{spacing(1)});
  padding-bottom: spacing(4);
  min-height: 100vh;

  &Content {
    display: grid;
    grid-template: '. content .' 1fr / 1fr 10fr 1fr;
    gap: spacing(3);

    max-width: $mq6;
    width: 100vw;

    &Inner {
      grid-area: content;
    }
  }
}

router-outlet {
  display: contents;
}
