@use '../mixins/misc' as *;
@use '../mixins/mediaQueries' as *;

.page {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: spacing(3);

  --calc1: #{spacing(1)};
  --calc2: #{spacing(10)};

  position: relative;
  margin-top: calc(var(--headerHeight) + var(--calc1));
  padding-bottom: var(--calc2);
  min-height: calc(100vh - (var(--headerHeight) + var(--calc1) + var(--calc2)));

  &Content {
    display: grid;
    grid-template: '. content .' 1fr / 1fr 10fr 1fr;
    gap: spacing(3);

    max-width: $mq6;
    width: 100vw;

    &Inner {
      grid-area: content;
    }
  }
}

router-outlet {
  display: contents;
}
